*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato';
}
/* TUTTA SEZIONE HEADER */
header{
    background-color: lightskyblue;
    padding: 15px;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0px 10px;
}

.d-flex{
    display: flex;
}

.header-side{
    width: 20%;
    border: 1px dashed black;
}

.header-center{
    width: 60%;
    border: 1px dashed black;
}

.header-center-menu{
    text-align: center;
}

.word-logo{
    text-align: left;
    margin-left: 5px;
}

.word-login{
    text-align: right;
    margin-right: 5px;
}

.thicc{
    height: 500px;
}

.flex-grow{
    flex-grow: 1;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}


/*-- SEZIONE MAIN --*/

.content{
    height: 350px;
    border: 1px dashed black;
    margin: 20px 0;
}

.small-content{
    height: 300px;
    border: 1px dashed;
}

.col-home{
    width: 70%;
    margin: auto;
}

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.col-100{
    width: 100%;
}

/*-- FOOTER --*/

.foot{
    height: 80px;
    border: 1px solid #000;
    margin-top: 10px;
}

.foot-btn{
    width: 100px;
    border: 2px dashed #000;
    margin: 25px 0;
}

.space-between{
    justify-content: space-between;
}

.word{
    text-align: center;
    padding-top: 2px;
}

/*-- ALL BG COLORS --*/

.bg-gold{
    background-color: goldenrod;
}

.bg-lightblue{
    background-color: blue;
}

.bg-blue{
    background-color: darkblue;
}

.bg-pink{
    background-color: pink;
}

.bg-gray{
    background-color: lightgray;
}

.bg-green{
    background-color: green;
}

.bg-darkgray{
    background-color: #2b2a2a;
}

.bg-rose{
    background-color: palevioletred;
}

.bg-darkcyan{
    background-color: darkcyan;
}

.bg-aqua{
    background-color: aquamarine;
}